<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>兼职</string>
		<key>type</key>
		<string>jianzhi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>理财</string>
		<key>type</key>
		<string>licai</string>
	</dict>
	<dict>
		<key>name</key>
		<string>工资</string>
		<key>type</key>
		<string>gongzi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>礼金</string>
		<key>type</key>
		<string>lijin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>其他</string>
		<key>type</key>
		<string>qita</string>
	</dict>
</array>
</plist>
