<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>宠物</string>
		<key>type</key>
		<string>chongwu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>购物</string>
		<key>type</key>
		<string>gouwu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日用</string>
		<key>type</key>
		<string>riyong</string>
	</dict>
	<dict>
		<key>name</key>
		<string>交通</string>
		<key>type</key>
		<string>jiaotong</string>
	</dict>
	<dict>
		<key>name</key>
		<string>餐饮</string>
		<key>type</key>
		<string>canying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>彩票</string>
		<key>type</key>
		<string>caipiao</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蔬菜</string>
		<key>type</key>
		<string>shucai</string>
	</dict>
	<dict>
		<key>name</key>
		<string>零食</string>
		<key>type</key>
		<string>lingshi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>娱乐</string>
		<key>type</key>
		<string>yule</string>
	</dict>
	<dict>
		<key>name</key>
		<string>通讯</string>
		<key>type</key>
		<string>tongxun</string>
	</dict>
	<dict>
		<key>name</key>
		<string>服饰</string>
		<key>type</key>
		<string>fushi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水果</string>
		<key>type</key>
		<string>shuiguo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>运动</string>
		<key>type</key>
		<string>yundong</string>
	</dict>
	<dict>
		<key>name</key>
		<string>美容</string>
		<key>type</key>
		<string>meirong</string>
	</dict>
	<dict>
		<key>name</key>
		<string>住房</string>
		<key>type</key>
		<string>zhufang</string>
	</dict>
	<dict>
		<key>name</key>
		<string>居家</string>
		<key>type</key>
		<string>jujia</string>
	</dict>
	<dict>
		<key>name</key>
		<string>孩子</string>
		<key>type</key>
		<string>haizi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>长辈</string>
		<key>type</key>
		<string>zhangbei</string>
	</dict>
	<dict>
		<key>name</key>
		<string>社交</string>
		<key>type</key>
		<string>shejiao</string>
	</dict>
	<dict>
		<key>name</key>
		<string>旅行</string>
		<key>type</key>
		<string>lvxing</string>
	</dict>
	<dict>
		<key>name</key>
		<string>烟酒</string>
		<key>type</key>
		<string>yanjiu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>数码</string>
		<key>type</key>
		<string>shuma</string>
	</dict>
	<dict>
		<key>name</key>
		<string>汽车</string>
		<key>type</key>
		<string>qiche</string>
	</dict>
	<dict>
		<key>name</key>
		<string>医疗</string>
		<key>type</key>
		<string>yiliao</string>
	</dict>
	<dict>
		<key>name</key>
		<string>书籍</string>
		<key>type</key>
		<string>shuji</string>
	</dict>
	<dict>
		<key>name</key>
		<string>学习</string>
		<key>type</key>
		<string>xuexi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>礼金</string>
		<key>type</key>
		<string>lijin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>礼物</string>
		<key>type</key>
		<string>liwu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>办公</string>
		<key>type</key>
		<string>bangong</string>
	</dict>
	<dict>
		<key>name</key>
		<string>维修</string>
		<key>type</key>
		<string>weixiu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>捐赠</string>
		<key>type</key>
		<string>juanzeng</string>
	</dict>
</array>
</plist>
